.title {
    font-size: 48px;
    text-wrap: wrap;

    margin-top: 50px;
    color: var(--mauveShadow);
    font-family: "Playfair Display", serif;
}

.date {
    font-style: italic;
    color: var(--stormCloud);
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
        margin-left: 0;
        padding-left: 0;
        margin-top: 20px;
    }

    .date {
        margin-bottom: 30px;
    }
}

