.title {
    font-size: 48px;
    text-wrap: wrap;

    margin-top: 50px;
    color: var(--mauveShadow)
}

.date {
    font-style: italic;
    color: var(--stormCloud);
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
        width: 95vw;
        text-align: left;

    }
}

