.container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tagBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag, .active {
    width: 100px;
    height: 100px;
    background-color: var(--cream);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: url('/haha.webp') 16 16, pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.tag:hover, .active {
    background-color: var(--forest);
    transform: scale(1.05); 
}

.tag p, .active p {
    color: var(--mauveShadow);
    opacity: 80%;
}

.tag:hover p, .active p {
    color: var(--mauveMorn);
    opacity: 100%;
}

.photoBox {
    width: 50vw;
    max-width: 1000px;
    aspect-ratio: 20 / 11; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.loadMoreContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .loadMoreButton {
    height: 40px;
    width: 150px;
    background-color: var(--cream);
    color: var(--forest);
    border: 1px solid var(--forest);
    font-size: 18px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .loadMoreButton:hover {
    background-color: var(--forest);
    color: var(--cream);
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 55%);
    z-index: 2;
    pointer-events: none; 
    border-radius: 20px;
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    color: white; 
    z-index: 3; 
    width: 50vw;
    max-width: 1000px;
    text-align: right;
}

.littleLink {
    text-decoration: underline;
    color: white;
    font-style: italic;
    margin: 20px 0;
}

.big {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    margin: 15px 0;
    font-weight: 700;
}

.small {
    font-size: 15px;
    margin: 15px 0;
}

@media screen and (max-width: 1460px) {
    .container {
        flex-direction: column;
    }
    .tagBox {
        flex-direction: row;
    }
    .tag, .active {
        width: 70px;
        height: 70px;
    }
    .photoBox {
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    .photoBox {
        width: 90vw;
    }

    .big {
        font-size: 16px;
    }

    .small, 
    .littleLink {
        font-size: 12px;
    }
}





