.container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tagBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag {
    width: 100px;
    height: 100px;
    background-color: var(--cream);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.tag p {
    color: var(--mauveShadow);
    opacity: 80%;
}

.photo {
    width: 6000px;
    height: 460px;
    margin: 10px;
}


