.container {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
    justify-content: flex-start;

    width: 330px;
    min-height: 500px;
    border-radius: 165px 165px 25px 25px;
    background-color: var(--cream);
    margin: 20px 0;
    padding-bottom: 25px;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease, box-shadow 0.5s ease, background-color 0.3s ease;
    cursor: pointer;
}

.container:hover {
    background-color: var(--spaBlue); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.container.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.container.hidden {
    opacity: 0; 
    transform: translateY(20px); 
}

.cardInfo {
    padding: 20px;
}

.link {
    text-decoration: none;
}

.thumbnail {
    border-radius: 165px 165px 0 0;
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
    color: var(--forest);
    text-wrap: wrap;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: "Playfair Display", serif;
}

.container:hover .cardTitle {
    color: var(--midnight); 
}

.description {
    font-style: italic;
    font-size: 16px;
    color: var(--stormCloud);
    padding-bottom: 10px;
    transition: color 0.3s ease, opacity 0.3s ease; 
}

.date {
    font-size: 16px;
    color: var(--stormCloud);
    text-align: right;
    opacity: 100%;
    transition: color 0.3s ease, opacity 0.3s ease; 
    padding-top: 20px;
    opacity: 75%;
}



@media screen and (max-width: 1366px) {
    .container {
        width: 300px;
    }
    .thumbnail {
        width: 300px;
        height: auto;
    }

    .cardTitle {
        font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .cardTitle {
        font-size: 18px;
    }
  }





