.container {
    width: 330px;
    min-height: 500px;
    border-radius: 165px 165px 25px 25px;
    background-color: var(--mauveMorn);
    margin: 20px 0;
    padding-bottom: 25px;
    opacity: 0; /* Start fully hidden */
    transform: translateY(20px); /* Start slightly shifted down */
    transition: opacity 1s ease, transform 1s ease, box-shadow 0.3s ease;
}

.container:hover {
    background-color: var(--moss); /* Change background color */
    transform: scale(1.05); /* Slightly grow */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.container.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset position */
}

.cardInfo {
    padding: 20px;
}

.link {
    text-decoration: none;
}

.thumbnail {
    border-radius: 165px 165px 0 0;
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
    color: var(--mauveShadow);
    text-wrap: wrap;
    transition: color 0.3s ease, transform 0.3s ease;
}

.container:hover .cardTitle {
    color: var(--mauveMorn); /* Change card title color */
}

.description {
    font-style: italic;
    font-size: 16px;
    color: #60665A;
    padding-bottom: 10px;
    transition: color 0.3s ease, opacity 0.3s ease; /* Add smooth transition */
}

.date {
    font-size: 16px;
    color: #60665A;
    text-align: right;
    opacity: 100%;
    transition: color 0.3s ease, opacity 0.3s ease; /* Add smooth transition */
}

/* Apply styles when the card is hovered */
.container:hover .description,
.container:hover .date {
    color: var(--brightWhite); /* Change color */
    opacity: 80%; /* Reduce opacity */
}


