.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--moss);
}

.title {
    color: var(--mauveMorn);
    font-size: 48px;
    margin-bottom: 30px;
}

.description {
    color: var(--spaBlue);
    font-family: "Sen", sans-serif;
    font-size: 20px;
}

.linkback {

}

.link {
    text-decoration: none;
}

