.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--moss);
}

.title {
    color: var(--mauveMorn);
}

.description {

}

.linkback {

}

.link {
    text-decoration: none;
}

