.body {
    width: 70vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.span {
    color: var(--midnight);
    font-weight: 700;
}

.content {
    font-family: "Sen", sans-serif;
    margin-top: 20px;
    max-width: 35vw;
    text-align: justify;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    .body {
        width: 90vw;
        flex-direction: column;
    }

    .text,
    .content {
        width: 100vw;
    }

    .photoOne {
        width: 80vw;
        height: auto;
    }
}