.main {
    width: 70vw;
    margin: auto;
    margin-top: 0;

}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.subHeading {
    color: var(--forest);
    margin-bottom: 0;
    padding-bottom: 0;
}

.intro .content {
    margin-bottom: 20px;
}







@media screen and (max-width: 768px) {
    .main {
        width: 90vw;
    }
}
