:root {
  --mauveMorn: #ecd6d6;
  --mauveShadow: #B59BA6;
  --moss: #5E7975;
  --brightWhite: #f5f7f6;
  --white: #fff;

  --spaBlue: #D3DEDF;
  --forest: #5E685E;
  --midnight: #3D4D55;
  --stormCloud: #676767;
  --cream: #f4EFE6;
  --cloud: #FEFCF6;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f7f6;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: auto;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  color: var(--stormCloud);
  cursor: url('/cursor.png') 16 16, auto;
}

header {
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Reset styles for all elements */
}

h1, h2, h3, h4, h5, span {
  font-family: "Playfair Display", serif;
}

a, button {
  cursor: url('/pointer.png'), pointer;
}





