.page {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  width: 70vw;
  margin: auto;
  margin-top: 0;
  margin-top: 120px;
}

.top {
  width: 100%;
  min-height: 480px;
  background-color: var(--cream);
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.coverPhoto {
  border-radius: 47% 47% 0 0;
  margin: 0 6rem;
  position: relative;
  bottom: -30px;
}

.info {
  text-align: center;
  margin-top: 100px;
  width: 30vw;
}

.name {
  font-size: 54px;
  color: #C69491;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.role {
  font-size: 44px;
  color: #7D9094;
  font-weight: 500;
}

.loca {
  font-size: 20px;
  color: #7D9094;
  padding-top: 10px;
}

.gif {
  position: relative;
  bottom: -36px;
}


.sectionBreaker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  position: relative;
}

.sectionBreaker::before,
.sectionBreaker::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #d3d3d3;
  margin: 0;
}

.sectionBreaker span {
  color: #7D9094;
  margin: 0 10px;
  font-size: 20px;
  font-style: italic;
}

.pjSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 1rem;
  max-width: 1350px;
}




@media screen and (max-width: 1460px) {
  .pjSection {
    gap: 20px;
  }

  .main {
    width: 80vw; 
  }

  .coverPhoto {
    margin: 0 1rem; 
    bottom: -32px; 
  }

  .info {
    margin-top: 50px; 
  }

  .gif {
    bottom: -6.4rem;
  }

  .name {
    font-size: 36px; 
  }

  .role {
    font-size: 20px;
  }

  .loca {
    font-size: 18px;
  }

  .pjSection {
    gap: 15px; 
    justify-content: center;
  }
}



@media screen and (max-width: 768px) {
  .main {
    width: 100vw; 
  }

  .coverPhoto {
    margin: 0 auto; 
    bottom: -20px; 
    width: 70vw;
    height: auto;
  }

  .info {
    margin-top: 50px;
    width: 90vw; 
  }

  .name {
    font-size: 36px; 
  }

  .role {
    font-size: 20px;
  }

  .loca {
    font-size: 18px;
  }

  .pjSection {
    gap: 15px; 
    justify-content: center;
  }

  .gif {
    position: relative;
    bottom: -4px;
    margin-top: 10px;
  }
}




