.main {
    width: 70vw;
    margin: auto;
    margin-top: 0;

}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.subHeading {
    color: var(--forest);
    margin-bottom: 0;
    padding-bottom: 0;
}

.intro .content {
    margin-bottom: 20px;
}

.span {
    color: var(--midnight);
    font-weight: 700;
}

.content {
    font-family: "Sen", sans-serif;
    margin-top: 5px;
    max-width: 50vw;
    text-align: justify;
    font-size: 18px;
    margin-left: 10px;
}

.sectionBreaker {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    position: relative;
}

.sectionBreaker::before,
.sectionBreaker::after {
content: "";
flex: 1;
height: 2px;
background: #d3d3d3; /* Adjust color as needed */
margin: 0;
}

.sectionBreaker span {
color: #7D9094;
margin: 0 10px;
font-size: 20px;
font-style: italic;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design {
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.design:last-child {
    margin-bottom: 100px;
}

.cover {
    width: 60%;
    height: auto;
}

.idea {
    width: 500px;
    height: auto;
    margin: 30px;
}

.sketchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 768px) {
    .main {
        width: 90vw;
    }
    .intro {
        flex-direction: column;
    }
    .content {
        max-width: 100vw;
        font-size: 16px;
    }
    .cover {
        width: 100%;
    }
}
