.sliderContainer {
    margin: 0 auto;
}

.sliderImage {
    width: 100%;
    object-fit: cover; /* Ensures images scale properly */
}

.sliderHandle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: grab;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

.sliderHandle:hover {
    background: rgba(255, 255, 255, 0.9);
}
