.header {
    margin: 0 auto;
    width: 70vw;
    height: 120px; 
    background-color: var(--forest);
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    right: 15vw;
    top: 0;
    z-index: 999;
    transition: height 0.3s ease-in-out; 
}

.headerExpanded {
    min-height: 250px; 
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.menuExpanded {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    text-align: right;
}


.menuOption {
    font-size: 20px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: var(--cream);
    font-family: "Playfair Display", serif;
}

.link:hover {
    color: var(--midnight);
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1460px) {
    .header {
        width: 80vw;
        right: 10vw;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100vw;
        min-height: 100px;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 40px;
        z-index: 10;
    }

    .logo {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 10;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        opacity: 0;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .menuExpanded {
        margin-top: 80px;
        display: flex;
        opacity: 1;
        transform: scaleY(1);
    }

}

